---
import kering from '../images/clients/kering.png'
import facile from '../images/clients/facile.png'
import telepass from '../images/clients/telepass.png'
import inpost from '../images/clients/inpost.png'
import ynap from '../images/clients/ynap.png'
import helixa from '../images/clients/helixa.png'
---

<div class="py-12 bg-white dark:bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2
        class="text-base text-indigo-800 dark:text-purple-300 font-semibold tracking-wide uppercase"
      >
        Trusted by leading companies
      </h2>

    </div>

    <div class="mt-10">
      <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src={facile} class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
          <img src={telepass} class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
          <img src={kering} class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img src={inpost} class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
          <img src={ynap} class="h-12 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
          <img src={helixa} class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
        </div>
      </div>
    </div>
  </div>
</div>

