---
import {Icon} from 'astro-icon'

const {features} = Astro.props

---


{
  features.map(feature => (
    <div class="relative">
      <dt>
        <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-800  text-white">
        <Icon
          class="h-6 w-6"
          aria-hidden="true"
          pack="heroicons-outline"
          name={feature.icon}
        />
        </div>
        <p class="ml-16 text-lg leading-6 font-medium text-gray-900 ">
          {feature.name}
        </p>
      </dt>
      <dd class="mt-2 ml-16 text-base text-gray-600 ">
        {feature.description}
      </dd>
    </div>
  ))
}
